doctype HTML
html
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
        meta(name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no")
        title globals.title
        link(rel="stylesheet" href="css/arcgis.min.css")

        //load Avenir from fonts.com  this is will only work on localhost, arcgis.com or esri.com domains
        link(type="text/css" rel="stylesheet" href="http://fast.fonts.com/cssapi/4a60d16b-c9e4-404d-89d3-809adb97d65c.css")

    body.tundra
        h2 OAuth Server Logins
        Tech Workshop slides coming soon!
        h3 Examples:
        ul
            li
                a(href="appLogin/") Application Login
                br
                a(href="viewApp?app=appLogin") Demo view
            li
                a(href="userLogin/") User Login
                br
                a(href="viewApp?app=userLogin") Demo view