doctype html
html
    head
        title Thank you for your order
        
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")

        link(rel="stylesheet" type="text/css" href="//js.arcgis.com/3.9/js/dojo/dijit/themes/claro/claro.css")
        link(rel="stylesheet" type="text/css" href="//js.arcgis.com/3.9/js/esri/css/esri.css")
        link(rel="stylesheet" type="text/css" href="style.css")

        script(src="//js.arcgis.com/3.9/")
        script(src="js/preinit.js")
        script(src="js/map.js")
        
    body.claro
        div#topBar
            h3 
                ="Thanks "+ globals.name +".  Your request is being processed and will appear in your ArcGIS Online account shortly."
        div#map