doctype html
html
    head
        
        script(type="text/javascript").
            document.cookie="username=!{globals.username}";
            window.location.href="/";
            
    body
        =globals.username
        =globals.name