doctype html

html    
    head
        style(type="text/css").
            body{width:100%;}
            iframe {border:none;}
            #app {position:absolute;width:445px; height:700px;padding:0px;overflow:hidden;left:0px;top:26px}
            #console {position:absolute;width:445px; height:700px;padding:0px;left:446px;top:26px}
            #source {position:absolute;width:445px; height:700px;padding:0px;left:891px;top:26px}
            .head3 {font-size:14pt;}
            #refreshConsole {float:right; margin-right:10px;}
            #topBar{width:90%; height:25px}
        //document.getElementById('console').contentWindow.location.reload(true)
    body
        .topBar
            span.head3= globals.title + ": " + globals.app
            button#refreshConsole(onClick="document.getElementById('console').contentWindow.location.reload(true)") Refresh the console
        iframe(id="app", src=globals.app)
        iframe(id="console", src=globals.app + "iisnode")
        iframe(id="source", src=globals.app + "source.html?file=" + globals.index)