doctype html
html
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
        title Select your study area

        link(rel="stylesheet" type="text/css" href="//js.arcgis.com/3.9/js/dojo/dijit/themes/claro/claro.css")
        link(rel="stylesheet" type="text/css" href="//js.arcgis.com/3.9/js/esri/css/esri.css")
        link(rel="stylesheet" type="text/css" href="css/style.css")

        script(src="//js.arcgis.com/3.9/")
        script(type='text/javascript')
            ="var redirect_uri = '"+ globals.redirect_uri + "';"
            ="var popup = '"+ globals.popup + "';"
        script(src="js/preinit.js")
        script(src="js/index.js")
    body.claro
        div#topBar
            if globals.name !== ""
                ="Hello " + globals.name + "- Select your area of interest"
                div#drawButton
                //div#submitButton
            else
                div#login
                div#orgBox
                span#arcgisURL .arcgis.com
            
        div#map
