doctype html
html
    head
        
        script(type="text/javascript") 
            | document.cookie="username=!{globals.username}";
            if globals.popup == true
                | window.opener.location.reload();
                | window.close();
            else
                | window.location.href="./";
            
    body
        =globals.username
        =globals.name